:root {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
    justify-content: space-between;
    border: 5px solid red;
    align-items: center;
    padding: 25px;
    background-color: cornflowerblue;
}

.card {
    border: 5px solid;
    max-width: 85vw;
    padding: 16px;
}

li {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 6px;
    width: 500px;
}